@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
		<h1>Empty page</h1>
		<p>Please navigate to either <a href="/students">Students page</a> or <a href="/teachers">Teachers page</a></p>
    </div>
</body>
</html>
